html, body {
	font-family: monospace;
	padding: 0;
	margin: 0;
	height: 100vh;
}

#content, 
#map, 
#menu, 
#header,
#top-header,
#bottom-header,
#listing {
	display: flex;
}

#content {
	width: 100vw;
	height: 100vh;
}


/* MENU STYLE */
#menu {
	width: 20vw;
	min-width: 250px;
	max-width: 350px;
	height: 100vh;
	flex-direction: column;
}

#header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	height: 10vh;
	width: 100%;
	background: red;
	flex-direction: column;
}

#listing {
	flex-grow: 1;
	width: 100%;
	background: black;
}


/* GOOGLE MAPS API STYLE */
#map {
	height: 100vh;
	width: 80vw;
}