html, body {
	font-family: monospace;
	padding: 0;
	margin: 0;
	height: 100vh;
}

#content,
#map,
#menu,
#header,
#top-header,
#bottom-header,
#search,
#filter,
#listing {
	display: flex;
}

#content {
	width: 100vw;
	height: 100vh;
}


/* MENU STYLE */
#menu {
	width: 20vw;
	min-width: 250px;
	max-width: 350px;
	flex-direction: column;
	position: fixed;
	z-index: 9;
	transition: 1s ease-in-out;
}

.menu-close {
	transform: translateX(-100vw);
}

#header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

#menu-icon-fb {
	position: fixed;
	transition: 2s ease-in-out;
	z-index: 8;
	padding: 10px;
	box-sizing: border-box;
}

#top-header,
#bottom-header,
.list-text {
	padding: 0 20px;
	box-sizing: border-box;
}

#top-header,
#bottom-header {
	width: 100%;
	flex-wrap: nowrap;
}

#top-header {
	height: 35%;
	background: #0D47A1;
	align-items: center;
}

#top-header h1 {
	margin-left: 20px;
	color: #ffffff;
}

#bottom-header {
	height: 70%;
	background: #2962FF;
	justify-content: space-around;
}

#search input {
	max-height: 40px;
}

#search {
	flex-grow: 1;
	align-items: center;
}

#search input {
	width: 80%;
}

#listing {
	flex-grow: 1;
	width: 100%;
	background: transparent;
	color: #212121;
}

#list-items {
	list-style-type: none;
	width: 100%;
  margin: 0;
  padding: 0;
  line-height: 5em;
}

.list-text {
	margin: 0;
	border: 1px solid gray;
	background: #ffffff;
}


/* GOOGLE MAPS API STYLE */
#map {
	height: 100vh;
	width: 100vw;
}

.iw-content {
	font-family: monospace;
	line-height: 1.5em;
}

.iw-img {
	width: 280px;
	height: 280px;
}

.iw-img img {
	width: 100%;
}
